dist/
node_modules/
package.json.*
tests/coverage/
.jest-cache/
npm-debug.log
package-lock.json
.vscode/
# eclipse project
.project
.settings/
.externalToolBuilders/
examples/sc_hierarchy.hwscheme.json
examples/sc_hierarchy.hwscheme.json
/.idea/
